{% load staticfiles %}
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/grid.css" %}">
</head>

 Mis datos son:


 {{ object_list }}

 Pruebas jejej


 <header>
    <div class="inner">
        <h1 class="logo"><a href="home.html">Point business company</a></h1>
	</div>
    <nav>
        <ul class="sf-menu">
            <li class="current"><a href="home.html">home</a></li>
            <li><a href="about.html">about</a></li>
            <li>
                <a href="services.html">services</a>
                <ul>
                    <li><a href="#">Maecenas faucibus</a></li>
                    <li><a href="#">Fusce tincidunt</a></li>
                    <li>
                        <a href="#">tempor eros</a>
                        <ul>
                            <li><a href="#">ut viverra</a></li>
                            <li><a href="#">hendrerit mauris</a></li>
                        </ul>
                    </li>
                    <li><a href="#">mauris ut du</a></li>
                </ul>
            </li>
            <li><a href="products.html">products</a></li>
            <li><a href="contacts.html">contacts</a></li>
        </ul>
        <div class="clear"></div>
    </nav>
    <div class="slider-container">
        <div class="mp-slider">
            <div><img src="images/slide-3.png" alt=""><a href="#">read more</a></div>
            <div><img src="images/slide-2.png" alt=""><a href="#">read more</a></div>
            <div><img src="images/slide-1.png" alt=""><a href="#">read more</a></div>
        </div>
    </div>
</header>